{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="" aria-hidden="true" loading="lazy" width="600" height="400">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.date %}
      <p class="page__meta">
        <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
        {% if post.read_time %} &middot; {% include read-time.html %}{% endif %}
      </p>
    {% endif %}

    {% if post.description %}
      {% assign archive_excerpt = post.description | markdownify | strip_html %}
    {% else %}
      {% assign archive_excerpt = post.excerpt | markdownify | strip_html | truncatewords: 40 %}
    {% endif %}
    
    {% if site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ archive_excerpt }} <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a></strong></p>
    {% else %}
      <p class="archive__item-excerpt" itemprop="description">{{ archive_excerpt }}</p>
    {% endif %}
    
    {% if post.citation or post.paperurl or post.slidesurl or post.bibtexurl %}
      <p>
        {% if post.citation %}Recommended citation: {{ post.citation }}<br />{% endif %}
        {% assign links = "" | split: "," %}
        
        {% if post.paperurl %}
          {% capture paper_label %}{% if post.paperurl contains '.pdf' %}Download PDF{% else %}Read paper{% endif %}{% endcapture %}
          {% capture paper_link %}<a href="{{ post.paperurl }}">{{ paper_label }}</a>{% endcapture %}
          {% assign links = links | push: paper_link %}
        {% endif %}
        
        {% if post.slidesurl %}
          {% capture slides_link %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endcapture %}
          {% assign links = links | push: slides_link %}
        {% endif %}
        
        {% if post.bibtexurl %}
          {% capture bibtex_link %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endcapture %}
          {% assign links = links | push: bibtex_link %}
        {% endif %}
        
        {{ links | join: " | " }}
      </p>
    {% endif %}

  </article>
</div>
