{% include base_path %}

<div class="page__footer-copyright" style="text-align: center;">
  &copy; {{ site.time | date: '%Y' }} Dr. Ozgur Ural &nbsp;&bull;&nbsp;
  <a href="{{ base_path }}/sitemap/">Sitemap</a> &nbsp;&bull;&nbsp;
  {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a> &nbsp;&bull;&nbsp;{% endif %}
  {% if site.atom_feed.hide != true %}<a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> RSS</a> &nbsp;&bull;&nbsp;{% endif %}
  Updated: {{ site.time | date: '%Y-%m-%d' }}
</div>
